html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flame {
	position: absolute;
  z-index: 1;
}

.vid {
	position: absolute;
  z-index: auto;
}