
.panel {
  margin: 10px;
  padding: 10px;
  display: grid;  /* レイアウトをグリッドに設定 */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 列に入るだけ入れる */
  grid-auto-rows: minmax(150px, auto); 
  gap: 20px; /* 列と行のギャップ */
  background-color: #f5f5f5;
  border: 3px solid #a9a9a9;
}

/* 共通のプロパティを指定 */
.madoka, .mami, .sayaka, .hitomi, .kyoko, .homura {
  width: 250px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

/* 背景色 */
.madoka {
  background-color: #ff69b4;
}

.mami {
  background-color: #fffacd;
}

.sayaka {
  background-color: #87ceeb;
}

.hitomi {
  background-color: #66cdaa;
}

.kyoko {
  background-color: #ffc0cb;
}

.homura {
  background-color: #dda0dd;
}